<div class="row mb-5">
    <div class="col">
        <form [formGroup]="commentForm">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Name" formControlName="author">
            </div>
            <div class="mb-3">
              <textarea class="form-control" placeholder="Comment" formControlName="text"></textarea>
            </div>
            <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row" *ngFor="let comm of comments">
    <div class="col">
        <span><b>{{comm.author}}</b></span>
        <span class="float-end">{{comm.date | date: "dd.MM.yyyy - mm:hh"}}</span>
        <p>{{comm.text}}</p>
    </div>
</div>