
<div class="row">
    <div class="col-6">
        <button *ngIf="page > 1" (click)="onPageChanged(page-1)" class="btn btn-primary">Previous</button>
        <button *ngIf="page * pageSize <= collectionSize" (click)="onPageChanged(page+1)" class="btn btn-primary">Next</button>
    </div>

    <div class="col-6">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" [ngClass]="{active: pageSize==5}" (click)="onPageSizeChanged(5)">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> 5
            </label>
            <label class="btn btn-secondary"  [ngClass]="{active: pageSize==10}" (click)="onPageSizeChanged(10)">
              <input type="radio" name="options" id="option2" autocomplete="off"> 10
            </label>
            <label class="btn btn-secondary" [ngClass]="{active: pageSize==20}" (click)="onPageSizeChanged(20)">
              <input type="radio" name="options" id="option3" autocomplete="off"> 20
            </label>
          </div>
    </div>
</div>